body {
    background-color: rgb(162, 159, 159);
}

h1, p {
    text-align: center;
}

p {
    font-size: 20px;
}

form {
    text-align: center;
    font-size: 20px;
}

#number {
    height: 15px;
    width: 220px;
}

#submit {
   text-align: center;
   padding: 5px 10px;
}